---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const content = (await getCollection("blog"))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .map((post) => ({
    ...post,
    slug: post.filePath?.split("/").pop()?.split(".")[0],
  }));
---

<Layout>
  <div class="container px-3 py-16">
    <div class="py-12">
      <h1 class="text-4xl font-instrument-serif">
        The <em>things</em> I think...
      </h1>
    </div>

    <ul>
      {
        content.map((post) => (
          <li class="ml-2 pl-8 border-l border-border inline-block py-4">
            <span class="text-subtle text-xs">
              {post.data.date}
            </span>
            <h2 class="text-2xl font-serif">
              <a href={`/blog/${post.slug}`}>{post.data.title}</a>
            </h2>
            <p class="text-subtle">{post.data.excerpt}</p>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
