---
import { getBlogCollection } from "src/lib/content";
import Layout from "../../layouts/Layout.astro";

const content = await getBlogCollection();
---

<Layout title="monody's things">
  <div class="container px-3 py-16">
    <div class="py-12">
      <h1 class="text-4xl font-instrument-serif">
        The <em>things</em> I think...
      </h1>
    </div>

    <ul>
      {
        content.map((entry) => (
          <li class="py-4">
            <span class="text-subtle text-xs">{entry.date}</span>
            <h2 class="text-2xl font-serif font-medium">
              <a href={`/blog/${entry.slug}`} data-astro-prefetch>
                {entry.data.title}
              </a>
            </h2>
            <p class="text-subtle">{entry.data.excerpt}</p>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
