---
import { getCollection } from "astro:content";
import Layout from "#/libs/Layout.astro";
import consts from "#/consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.date.valueOf() - b.data.date.valueOf()
);
---

<Layout title={"blogs - " + consts.title}>
  <div class="posts">
    {
      posts.map((post) => (
        <a href={`/blog/${post.slug}`}>
          <div class="post">
            <div class="meta">
              <span class="date">
                {new Intl.DateTimeFormat("en-US", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                }).format(post.data.date)}
              </span>
              <div class="tags">
                {post.data.tags?.map((tag) => (
                  <span class="tag">#{tag}</span>
                ))}
              </div>
            </div>
            <div class="title">{post.data.title}</div>
            <p class="brief">{post.data.description}</p>
          </div>
        </a>
      ))
    }
  </div>
</Layout>
<style>
  .posts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px;
  }
  .post {
    display: flex;
    flex-direction: column;
  }
  .meta {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--color-2);
  }
  .tags {
    display: flex;
    gap: 4px;
    align-items: center;
  }
  .tag {
    border-radius: 4px;
    display: block;
    padding: 2px 4px;
    background-color: #eee6de;
  }
  .title {
    font-size: 18px;
    font-weight: 600;
  }
  .brief {
    color: var(--color-2);
  }
</style>
