---
import List from "src/components/List.astro";
import Layout from "../../layouts/Layout.astro";
import { getTilCollection } from "src/lib/content";
import type { Post } from "src/lib/content";

const content = await getTilCollection();
const groupByTag = content.reduce(
  (acc, post) => {
    for (const tag of post.data.tags || []) {
      acc[tag] = [...(acc[tag] || []), post];
    }
    return acc;
  },
  {} as Record<string, Array<Post>>,
);
---

<Layout title="monody's til">
  <div class="container px-3 py-24">
    <div>
      <h1 class="text-3xl font-instrument-serif">
        Which days are the strongest? — <em data-answer>Saturday and Sunday</em>
      </h1>
      <p data-answer>
        The rest are <em>weekdays</em>.
      </p>
    </div>
    <div class="pt-12">
      <List posts={content} />
    </div>
    <div class="pt-12 space-y-4">
      <h2 class="text-2xl font-instrument-serif">Posts by Categories</h2>
      {
        Object.entries(groupByTag).map(([tag, posts]) => (
          <div class="space-y-4">
            <h3
              class="text-2xl text-primary font-instrument-serif"
              id={tag}
            >
              #{tag}
            </h3>
            <List posts={posts} />
          </div>
        ))
      }
    </div>
  </div>
</Layout>

<style scoped>
  [data-answer] {
    filter: blur(8px);
    transition: filter 200ms ease;
  }

  [data-answer]:not(.revealed) {
    cursor: pointer;
    user-select: none;
  }

  [data-answer].revealed {
    filter: blur(0);
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    document.querySelectorAll("[data-answer]").forEach((element) => {
      element.addEventListener("click", () => {
        document.querySelectorAll("[data-answer]").forEach((el) => {
          el.classList.toggle("revealed", true);
        });
      });
    });
  });
</script>
