---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="container px-3 py-16">
    <div class="py-12">
      <h1 class="text-2xl font-instrument-serif">
        Which days are the strongest? — <em>Saturday and Sunday</em>
      </h1>
      <p>
        The rest are <em>weekdays</em>.
      </p>
    </div>
  </div>
</Layout>
