@import "tailwindcss";
@import "./prose.css";

@theme {
  --color-primary: oklch(14.48% 0 0);
  --color-secondary: oklch(85.33% 0.0138 97.47);
  --color-base: oklch(97.04% 0.0029 84.56);
  --color-elevated: oklch(98.56% 0.0017 67.8);
  --color-border: oklch(17.76% 0 0 / 7.84%);
  --color-subtle: oklch(14.48% 0 0 / 60%);
  --color-red: oklch(69.18% 0.2062 42.05);
  --color-green: oklch(76.89% 0.1454 161.41);
  --color-violet: oklch(50.12% 0.1775 297.08);

  --font-grotesk: "Space Grotesk", sans-serif;
  --font-serif: "EB Garamond", serif;
  --font-sans: "IBM Plex Sans", sans-serif;
  --font-instrument-serif: "Instrument Serif", serif;
  --font-mono: "Martian Mono", monospace;
}

@layer base {
  a:hover {
    text-decoration: underline;
  }

  ::selection {
    background-color: oklch(90.16% 0.0192 248.04);
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100dvh;
  }
}

@utility container {
  margin-left: auto;
  margin-right: auto;
  max-width: 55rem;
}
