<div class="@container w-full flex justify-center">
  <div class="flex gap-12 items-center flex-col @xl:flex-row">
    <div class="relative group select-none">
      <img
        src="/assets/me/look.jpg"
        alt="Look like this"
        class="block rounded-lg w-36 rotate-3 group-hover:rotate-0 group-hover:scale-110 scale-3d transition-transform duration-200"
      />
      <div
        class="absolute left-1/2 top-[36px] opacity-0 group-hover:opacity-100 group-hover:rotate-9 -translate-x-[15px] -translate-y-6 group-hover:translate-y-0 translate-3d transition-[transform,translate,rotate,opacity] duration-200"
      >
        <img src="/assets/me/sunglasses.webp" aria-hidden="true" class="w-9" />
      </div>
      <div
        class="absolute bg-[url('/assets/me/text.webp')] bg-contain size-24 rounded-lg -right-3 -top-8 -rotate-6 group-hover:-translate-y-4 group-hover:translate-x-2 group-hover:rotate-3 transition-transform duration-200"
      >
      </div>
    </div>
    <div class="max-w-2xl">
      <h2 class="text-4xl font-instrument-serif italic">Hello,</h2>
      <p class="font-instrument-serif text-3xl text-balance">
        My name is <em>Minh "Monody" Le Hong</em>.
        <br />
        <span class="text-primary/60">
          Just a guy tends to be handsome gradually over the years…
        </span>
      </p>
    </div>
  </div>
</div>
