<div class="space-y-4">
  <div>
    <h3 class="text-2xl font-instrument-serif">My <em>Journey</em></h3>
    <p class="text-subtle">The things I think</p>
  </div>

  <div class="grid grid-cols-2 gap-2">
    <div class="px-6 py-5 bg-secondary/50 rounded-2xl">
      <h4 class="text-2xl font-instrument-serif">
        <a href="/posts/hello-world">What is this?</a>
      </h4>
      <p class="text-primary/60">I'm not sure what to write here.</p>
    </div>
    <div class="px-6 py-5 bg-secondary rounded-2xl">
      <h4 class="text-2xl font-instrument-serif">
        <a href="/posts/hello-world">What is this?</a>
      </h4>
      <p class="text-primary/60">I'm not sure what to write here.</p>
    </div>
  </div>
</div>
