---
const donateUrl = 'https://ko-fi.com/monodyle'
---


<footer class="mt-auto">
  <div class="container px-3 py-9">
    <p class="text-center text-sm text-subtle">
      hello, here is my little corner on the internet!
      <br />
      you can <a href={donateUrl} class="text-primary">buy me a coffee</a> if you feel enjoy this blog.
    </p>
  </div>
</footer>
