---
const links = [
  {
    label: "blog",
    href: "/blog",
  },
  {
    label: "til",
    href: "/til",
  },
  {
    label: "notes",
    href: "/notes",
  }
];
---

<header class="fixed inset-[0_0_auto] z-10">
  <nav class="container px-3">
    <div class="pt-5">
      <div class="flex items-center justify-between">
        <a href="/" class="text-xl font-instrument-serif">
          m<i>o</i>no<i>dy</i>.
        </a>
        <div class="space-x-4">
          {
            links.map((link) => (
              <a
                href={link.href}
                class="text-medium text-lg transition-colors duration-200 font-instrument-serif text-primary hover:text-subtle"
              >
                <span>{link.label}</span>
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </nav>
</header>
