---
const links = [
  {
    label: "blog",
    href: "/blog",
  },
  {
    label: "til",
    href: "/til",
  },
  {
    label: "notes",
    href: "/notes",
  },
];
---

<header class="fixed inset-[0_0_auto] z-10">
  <div class="relative isolate">
    <div
      class="absolute inset-0 rounded-b-xl overflow-hidden z-0 [&>*]:absolute [&>*]:inset-0"
    >
      <div
        class="backdrop-blur-[0.411523px] [mask-image:linear-gradient(rgb(0,0,0)_70%,rgba(0,0,0,0)_90%)] z-2"
      >
      </div>
      <div
        class="backdrop-blur-[1.64609px] [mask-image:linear-gradient(rgb(0,0,0)_60%,rgba(0,0,0,0)_80%)] z-3"
      >
      </div>
      <div
        class="backdrop-blur-[3.7037px] [mask-image:linear-gradient(rgb(0,0,0)_50%,rgba(0,0,0,0)_70%)] z-4"
      >
      </div>
      <div
        class="backdrop-blur-[6.58436px] [mask-image:linear-gradient(rgb(0,0,0)_40%,rgba(0,0,0,0)_60%)] z-5"
      >
      </div>
      <div
        class="backdrop-blur-[10.2881px] [mask-image:linear-gradient(rgb(0,0,0)_30%,rgba(0,0,0,0)_50%)] z-6"
      >
      </div>
      <div
        class="backdrop-blur-[14.8148px] [mask-image:linear-gradient(rgb(0,0,0)_20%,rgba(0,0,0,0)_40%)] z-7"
      >
      </div>
      <div
        class="backdrop-blur-[20.1646px] [mask-image:linear-gradient(rgb(0,0,0)_10%,rgba(0,0,0,0)_30%)] z-8"
      >
      </div>
      <div
        class="backdrop-blur-[26.3374px] [mask-image:linear-gradient(rgb(0,0,0)_0%,rgba(0,0,0,0)_20%)] z-9"
      >
      </div>
      <div
        class="backdrop-blur-[33.3333px] [mask-image:linear-gradient(rgb(0,0,0)_0%,rgba(0,0,0,0)_10%)] z-10"
      >
      </div>
    </div>
    <nav class="container isolate">
      <div class="py-5 rounded-b-xl px-3">
        <div class="flex items-center justify-between relative">
          <a
            href="/"
            data-astro-prefetch=""
            class="text-xl font-instrument-serif hover:no-underline"
          >
            m<i>o</i>no<i>dy</i>.
          </a>
          <div class="space-x-4">
            {
              links.map((link) => (
                <a
                  href={link.href}
                  data-astro-prefetch
                  class="text-medium text-lg transition-colors duration-200 font-instrument-serif text-primary hover:text-subtle"
                >
                  <span>{link.label}</span>
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
